@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
   height: 90vh;
   display: flex;
}

.container .panel {
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* to preserve rounded corners on large screens */
}


.container .panel h3 {
    color: red;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
}

.container .panel:nth-child(1) {
    background-image: url('https://images.unsplash.com/photo-1610816931663-624afaeb7d41?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80');
}

.container .panel:nth-child(2) {
    background-image: url('https://images.unsplash.com/photo-1610816931663-624afaeb7d41?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80');
}

.container .panel:nth-child(3) {
    background-image: url('https://images.unsplash.com/photo-1610816931663-624afaeb7d41?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80 ');
}

.container .panel:nth-child(4) {
    background-image: url('https://images.unsplash.com/photo-1610816931663-624afaeb7d41?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80');
}

.container .panel:nth-child(5) {
    background-image: url('https://images.unsplash.com/photo-1610816931663-624afaeb7d41?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80');
}

.container .panel:nth-child(6) {
    background-image: url('https://images.unsplash.com/photo-1610816931663-624afaeb7d41?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80');
}

